In [98]:
import os
import pandas as pd

Read annotated CSV file

In [99]:
annotated_df = pd.read_csv('../data/DataExp4_filtered_test_val_annotated.csv')
original_annotated_df = pd.read_csv('../data/DataExp4_filtered_test_val_annotated.csv')

In [100]:
not_annotated_df = pd.read_csv('../data/DataExp4_filtered_not_annotated.csv')

In [101]:
if "Unnamed: 0" in annotated_df.columns:
    annotated_df.drop(["Unnamed: 0"], axis=1, inplace=True)
if "Unnamed: 0" in original_annotated_df.columns:
    original_annotated_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [102]:
if "Unnamed: 0" in not_annotated_df.columns:
    not_annotated_df.drop(["Unnamed: 0"], axis=1, inplace=True)

Fill the fixed title and fixed query body with the fixed ones, if available

In [103]:
annotated_df["Fixed Title"].fillna(annotated_df["Title"], inplace=True)
annotated_df["Fixed QueryBody"].fillna(annotated_df["QueryBody"], inplace=True)

In [104]:
not_annotated_df["Fixed Title"].fillna(not_annotated_df["Title"], inplace=True)
not_annotated_df["Fixed QueryBody"].fillna(not_annotated_df["QueryBody"], inplace=True)

In [105]:
annotated_df["Type of Fix"].fillna("", inplace=True)
annotated_df["Type of Fix"].unique()

array(['C', 'T', 'IC', 'NINC', 'NIC', 'INC', 'NEC', 'c', 't'],
      dtype=object)

In [106]:
original_annotated_df["Type of Fix"].fillna("", inplace=True)
original_annotated_df["Type of Fix"].unique()

array(['C', 'T', 'IC', 'NINC', 'NIC', 'INC', 'NEC', 'c', 't'],
      dtype=object)

In [107]:
annotated_df["Type of Fix"] = annotated_df["Type of Fix"].apply(lambda x: x.upper())

In [108]:
original_annotated_df["Type of Fix"] = original_annotated_df["Type of Fix"].apply(lambda x: x.upper())

Remove rows without annotation or rows that couldn't be fixed

In [109]:
filtered_annotated_df = annotated_df[~annotated_df["Type of Fix"].isin({"NIC", "NINC", "NEC", "INC"})].copy()

In [110]:
filtered_annotated_df

,QuerySetId,Title,Description,QueryBody,CreationDate,Fixed Title,Fixed QueryBody,Type of Fix,Fixer,Faruk_Error
0,1233,Top 500 Askers on the site,A list of the top 500 askers of questions\nord...,SELECT * FROM (\nSELECT \n TOP 500\n Ow...,2010-05-27 20:08:16,Top 500 Askers on the site,SELECT * FROM (\nSELECT \n TOP 500\n Ow...,C,Vibhor,0.0
1,1308,Average rep gain per post per tag,NaN,"SELECT t.tagName \n, COUNT(*) as NrOfQ...",2010-05-27 23:04:48,Average rep gain per post per tag (more than 1...,"SELECT t.tagName \n, COUNT(*) as NrOfQ...",T,Moshe,0.0
2,1704,Up vs Down votes by hour of day,"Doesn't currently work, but that's just becaus...","SELECT \n DATEPART(HOUR, p.CreationDate) AS...",2020-06-16 4:01:50,Up vs Down votes by hour of day,"SELECT \n DATEPART(HOUR, p.CreationDate) AS...",C,Vibhor,1.0
3,2304,Posts containing tr.im shortened URLs,"Posts containing tr.im shortened URLs, which w...","SELECT Id as [Post Link], Body\nfrom Posts \n...",2010-06-05 16:34:19,Posts containing tr.im shortened URLs,"SELECT Id as [Post Link], Body\nfrom Posts \n...",C,Moshe,0.0
4,3055,Users with 10+ Accounts Including Reputation,A copy of http://odata.stackexchange.com/stack...,WITH 10+ Accounts Including Reputation\n-- A ...,2010-06-13 21:30:53,Users with 10+ Accounts Including Reputation,"SELECT\n sum(u1.Reputation) AS TotalRep,\n ...",IC,Moshe,1.0
...,...,...,...,...,...,...,...,...,...,...
2005,1340757,Time to first answer (self-answers excluded),NaN,"SELECT DATEDIFF(MINUTE, q.CreationDate, a.Cre...",2020-12-05 0:28:45,Time to first answer by minutes (self-answers ...,"SELECT DATEDIFF(MINUTE, q.CreationDate, a.Cre...",T,Moshe,1.0
2008,1344248,Number of Posts by Tag,NaN,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",2020-12-09 19:43:28,Number of Posts by Tag,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",IC,Moshe,0.0
2009,1344640,Tags ordered by average question score (non CW),NaN,SELECT TOP(##num?100##)\n RANK() OVER(ORDER ...,2020-12-10 4:10:13,Tags ordered by average question score (non CW),SELECT \n RANK() OVER(ORDER BY AVG(CAST(q.SCO...,IC,Moshe,1.0
2010,1344742,Recent suggested edits on tag-infos,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 11:56:11,Recent 250 suggested edits on tag-infos,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,T,Moshe,1.0
2011,1344748,Recent suggested edits on tag-infos (only pend...,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 14:42:00,Recent 250 suggested edits on tag-infos (only ...,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,T,Moshe,1.0

In [111]:
original_annotated_df = original_annotated_df[~original_annotated_df["Type of Fix"].isin({"NIC", "NINC", "NEC", "INC"})].copy()

In [112]:
original_annotated_df

,QuerySetId,Title,Description,QueryBody,CreationDate,Fixed Title,Fixed QueryBody,Type of Fix,Fixer,Faruk_Error
0,1233,Top 500 Askers on the site,A list of the top 500 askers of questions\nord...,SELECT * FROM (\nSELECT \n TOP 500\n Ow...,2010-05-27 20:08:16,NaN,NaN,C,Vibhor,0.0
1,1308,Average rep gain per post per tag,NaN,"SELECT t.tagName \n, COUNT(*) as NrOfQ...",2010-05-27 23:04:48,Average rep gain per post per tag (more than 1...,NaN,T,Moshe,0.0
2,1704,Up vs Down votes by hour of day,"Doesn't currently work, but that's just becaus...","SELECT \n DATEPART(HOUR, p.CreationDate) AS...",2020-06-16 4:01:50,NaN,NaN,C,Vibhor,1.0
3,2304,Posts containing tr.im shortened URLs,"Posts containing tr.im shortened URLs, which w...","SELECT Id as [Post Link], Body\nfrom Posts \n...",2010-06-05 16:34:19,NaN,NaN,C,Moshe,0.0
4,3055,Users with 10+ Accounts Including Reputation,A copy of http://odata.stackexchange.com/stack...,WITH 10+ Accounts Including Reputation\n-- A ...,2010-06-13 21:30:53,NaN,"SELECT\n sum(u1.Reputation) AS TotalRep,\n ...",IC,Moshe,1.0
...,...,...,...,...,...,...,...,...,...,...
2005,1340757,Time to first answer (self-answers excluded),NaN,"SELECT DATEDIFF(MINUTE, q.CreationDate, a.Cre...",2020-12-05 0:28:45,Time to first answer by minutes (self-answers ...,"SELECT DATEDIFF(MINUTE, q.CreationDate, a.Cre...",T,Moshe,1.0
2008,1344248,Number of Posts by Tag,NaN,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",2020-12-09 19:43:28,NaN,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",IC,Moshe,0.0
2009,1344640,Tags ordered by average question score (non CW),NaN,SELECT TOP(##num?100##)\n RANK() OVER(ORDER ...,2020-12-10 4:10:13,NaN,SELECT \n RANK() OVER(ORDER BY AVG(CAST(q.SCO...,IC,Moshe,1.0
2010,1344742,Recent suggested edits on tag-infos,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 11:56:11,Recent 250 suggested edits on tag-infos,NaN,T,Moshe,1.0
2011,1344748,Recent suggested edits on tag-infos (only pend...,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 14:42:00,Recent 250 suggested edits on tag-infos (only ...,NaN,T,Moshe,1.0

In [113]:
filtered_annotated_df["validated"] = (filtered_annotated_df["Type of Fix"].fillna('') != '').astype(bool)

In [114]:
original_annotated_df["validated"] = (original_annotated_df["Type of Fix"].fillna('') != '').astype(bool)

Delete unused columns

In [115]:
del filtered_annotated_df["Title"]
del filtered_annotated_df["QueryBody"]
del filtered_annotated_df["Type of Fix"]
del filtered_annotated_df["Fixer"]
del filtered_annotated_df["Faruk_Error"]

In [116]:
del annotated_df["Title"]
del annotated_df["QueryBody"]
del annotated_df["Type of Fix"]
del annotated_df["Fixer"]
del annotated_df["Faruk_Error"]

In [117]:
del original_annotated_df["Fixed Title"]
del original_annotated_df["Fixed QueryBody"]
del original_annotated_df["Type of Fix"]
del original_annotated_df["Fixer"]
del original_annotated_df["Faruk_Error"]

In [118]:
del not_annotated_df["Title"]
del not_annotated_df["QueryBody"]
del not_annotated_df["Type of Fix"]
del not_annotated_df["Fixer"]
del not_annotated_df["Faruk_Error"]

Rename columns back again

In [119]:
filtered_annotated_df.rename(columns={"Fixed Title": "Title", "Fixed QueryBody": "QueryBody"}, inplace=True)
annotated_df.rename(columns={"Fixed Title": "Title", "Fixed QueryBody": "QueryBody"}, inplace=True)
not_annotated_df.rename(columns={"Fixed Title": "Title", "Fixed QueryBody": "QueryBody"}, inplace=True)

Reorder columns

In [120]:
cols = ["QuerySetId", "Title", "Description", "QueryBody", "CreationDate", "validated"]

In [125]:
filtered_annotated_df = filtered_annotated_df[cols]
original_annotated_df = original_annotated_df[cols]

In [126]:
not_annotated_df["validated"] = False
annotated_df["validated"] = False

In [127]:
annotated_df = annotated_df[cols]

In [128]:
not_annotated_df = not_annotated_df[cols]

Check final dataframe before saving it to disk

In [129]:
filtered_annotated_df

,QuerySetId,Title,Description,QueryBody,CreationDate,validated
0,1233,Top 500 Askers on the site,A list of the top 500 askers of questions\nord...,SELECT * FROM (\nSELECT \n TOP 500\n Ow...,2010-05-27 20:08:16,True
1,1308,Average rep gain per post per tag (more than 1...,NaN,"SELECT t.tagName \n, COUNT(*) as NrOfQ...",2010-05-27 23:04:48,True
2,1704,Up vs Down votes by hour of day,"Doesn't currently work, but that's just becaus...","SELECT \n DATEPART(HOUR, p.CreationDate) AS...",2020-06-16 4:01:50,True
3,2304,Posts containing tr.im shortened URLs,"Posts containing tr.im shortened URLs, which w...","SELECT Id as [Post Link], Body\nfrom Posts \n...",2010-06-05 16:34:19,True
4,3055,Users with 10+ Accounts Including Reputation,A copy of http://odata.stackexchange.com/stack...,"SELECT\n sum(u1.Reputation) AS TotalRep,\n ...",2010-06-13 21:30:53,True
...,...,...,...,...,...,...
2005,1340757,Time to first answer by minutes (self-answers ...,NaN,"SELECT DATEDIFF(MINUTE, q.CreationDate, a.Cre...",2020-12-05 0:28:45,True
2008,1344248,Number of Posts by Tag,NaN,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",2020-12-09 19:43:28,True
2009,1344640,Tags ordered by average question score (non CW),NaN,SELECT \n RANK() OVER(ORDER BY AVG(CAST(q.SCO...,2020-12-10 4:10:13,True
2010,1344742,Recent 250 suggested edits on tag-infos,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 11:56:11,True
2011,1344748,Recent 250 suggested edits on tag-infos (only ...,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 14:42:00,True

In [130]:
not_annotated_df

,QuerySetId,Title,Description,QueryBody,CreationDate,validated
0,466,Most controversial posts on the site,Looks for posts with more than half the amount...,SELECT \n* from Votes,2020-06-24 11:23:10,False
1,784,Comments asking for questions to be made wiki,All comments that contain the text should and ...,"SELECT PostId as [Post Link], Text from Comme...",2019-07-07 11:01:51,False
2,785,How many upvotes do I have for each tag?,how long before I get tag badges?\n,DECLARE @UserId int = ##UserId##\n\nSELECT --...,2020-12-06 01:47:00,False
3,873,Posts containing a very short body,Posts containing a body that is less than 8 ch...,"SELECT Id as [Post Link], Body, Score from Po...",2020-11-30 04:11:17,False
4,877,Posts containing a very short title,Posts containing a body that is less than 5 ch...,"SELECT Id as [Post Link], Body, Score from Po...",2020-11-25 01:19:00,False
...,...,...,...,...,...,...
10304,1344785,Duplicate target of the given post,NaN,SELECT \n RelatedPostId AS [Post Link]\nFROM ...,2020-12-10 13:45:57,False
10305,1344986,My score and number of non-CW answers per tag,NaN,"SELECT \n t.TagName,\n SUM(a.Score) AS [Tota...",2020-12-10 14:58:32,False
10306,1345529,select p1.id from (select * from Posts where ...,NaN,SELECT p1.id from (SELECT * from Posts where...,2020-12-10 17:32:25,False
10307,1346132,Percentage of SO Users on Meta,NaN,SELECT count(*) from users,2020-12-10 20:19:25,False
10308,1346153,List of deleted posts which are duplicates,NaN,SELECT TOP(##num?1000##)\n p.Id AS [Post lin...,2020-12-10 21:15:58,False

In [131]:
annotated_df

,QuerySetId,Title,Description,QueryBody,CreationDate,validated
0,1233,Top 500 Askers on the site,A list of the top 500 askers of questions\nord...,SELECT * FROM (\nSELECT \n TOP 500\n Ow...,2010-05-27 20:08:16,False
1,1308,Average rep gain per post per tag (more than 1...,NaN,"SELECT t.tagName \n, COUNT(*) as NrOfQ...",2010-05-27 23:04:48,False
2,1704,Up vs Down votes by hour of day,"Doesn't currently work, but that's just becaus...","SELECT \n DATEPART(HOUR, p.CreationDate) AS...",2020-06-16 4:01:50,False
3,2304,Posts containing tr.im shortened URLs,"Posts containing tr.im shortened URLs, which w...","SELECT Id as [Post Link], Body\nfrom Posts \n...",2010-06-05 16:34:19,False
4,3055,Users with 10+ Accounts Including Reputation,A copy of http://odata.stackexchange.com/stack...,"SELECT\n sum(u1.Reputation) AS TotalRep,\n ...",2010-06-13 21:30:53,False
...,...,...,...,...,...,...
2007,1344021,как подсчитать количество записей в таблице с ...,NaN,"WITH [data] as (select \n users.id, \n Year...",2020-12-09 12:24:07,False
2008,1344248,Number of Posts by Tag,NaN,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",2020-12-09 19:43:28,False
2009,1344640,Tags ordered by average question score (non CW),NaN,SELECT \n RANK() OVER(ORDER BY AVG(CAST(q.SCO...,2020-12-10 4:10:13,False
2010,1344742,Recent 250 suggested edits on tag-infos,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 11:56:11,False
2011,1344748,Recent 250 suggested edits on tag-infos (only ...,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 14:42:00,False

In [132]:
original_annotated_df

,QuerySetId,Title,Description,QueryBody,CreationDate,validated
0,1233,Top 500 Askers on the site,A list of the top 500 askers of questions\nord...,SELECT * FROM (\nSELECT \n TOP 500\n Ow...,2010-05-27 20:08:16,True
1,1308,Average rep gain per post per tag,NaN,"SELECT t.tagName \n, COUNT(*) as NrOfQ...",2010-05-27 23:04:48,True
2,1704,Up vs Down votes by hour of day,"Doesn't currently work, but that's just becaus...","SELECT \n DATEPART(HOUR, p.CreationDate) AS...",2020-06-16 4:01:50,True
3,2304,Posts containing tr.im shortened URLs,"Posts containing tr.im shortened URLs, which w...","SELECT Id as [Post Link], Body\nfrom Posts \n...",2010-06-05 16:34:19,True
4,3055,Users with 10+ Accounts Including Reputation,A copy of http://odata.stackexchange.com/stack...,WITH 10+ Accounts Including Reputation\n-- A ...,2010-06-13 21:30:53,True
...,...,...,...,...,...,...
2005,1340757,Time to first answer (self-answers excluded),NaN,"SELECT DATEDIFF(MINUTE, q.CreationDate, a.Cre...",2020-12-05 0:28:45,True
2008,1344248,Number of Posts by Tag,NaN,"SELECT \n TAG.id,\n TAG.TagName,\n count(*)...",2020-12-09 19:43:28,True
2009,1344640,Tags ordered by average question score (non CW),NaN,SELECT TOP(##num?100##)\n RANK() OVER(ORDER ...,2020-12-10 4:10:13,True
2010,1344742,Recent suggested edits on tag-infos,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 11:56:11,True
2011,1344748,Recent suggested edits on tag-infos (only pend...,NaN,SELECT TOP(##num?250##)\n s.Id AS [Suggested...,2020-12-10 14:42:00,True

In [133]:
filtered_annotated_df.to_csv("../data/DataExp4_filtered_fixed.csv", index=False)

Split into train/val/test sets

In [134]:
val_test_df = filtered_annotated_df[filtered_annotated_df["validated"]]
original_val_test_df = original_annotated_df[original_annotated_df["validated"]]

In [136]:
train_df = not_annotated_df.copy()

In [137]:
val_test_query_set_ids = val_test_df["QuerySetId"].tolist()
train_query_set_ids = train_df["QuerySetId"].tolist()
val_test_query_set_ids_in_train = [sql for sql in val_test_query_set_ids if sql in train_query_set_ids]
print(f"Number of QuerySetId in val/test that appear in train: {len(val_test_query_set_ids_in_train)}")

Number of QuerySetId in val/test that appear in train: 0

In [138]:
val_df = val_test_df.iloc[:int(val_test_df.shape[0] / 2)]
test_df = val_test_df.iloc[int(val_test_df.shape[0] / 2):]

In [139]:
original_val_df = original_val_test_df.iloc[:int(original_val_test_df.shape[0] / 2)]
original_test_df = original_val_test_df.iloc[int(original_val_test_df.shape[0] / 2):]

In [140]:
if not os.path.exists("../data/sede/"):
    os.makedirs("../data/sede/")

In [141]:
print(f"Train set size: {len(train_df)}")
print(f"Val set size: {len(val_df)}")
print(f"Test set size: {len(test_df)}")
print(f"Original Val set size: {len(original_val_df)}")
print(f"Original Test set size: {len(original_test_df)}")

Train set size: 10309
Val set size: 857
Test set size: 857
Original Val set size: 857
Original Test set size: 857

In [142]:
train_df.to_json("../data/sede/train.jsonl", orient="records", lines=True)
val_df.to_json("../data/sede/val.jsonl", orient="records", lines=True)
original_val_df.to_json("../data/sede/val_original.jsonl", orient="records", lines=True)
test_df.to_json("../data/sede/test.jsonl", orient="records", lines=True)
original_test_df.to_json("../data/sede/test_original.jsonl", orient="records", lines=True)